@{
    ViewData["Title"] = "Home Page";
}

<div id="account-balance-chart"></div>

@section Scripts {
    <script src="~/js/core.js"></script>
    <script src="~/js/charts.js"></script>
    <script src="~/js/animated.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}